# windows.yml
name: Windows
on: [push]
    
jobs:
  build:
    name: Windows Latest x64
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          
      - name: Install Qt
        uses: jurplel/install-qt-action@v3.0.0

      - name: build-msvc
        shell: cmd
        run: |
          vcvars64.bat
          jom
