# windows.yml
name: Windows
on: [push]
    
jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
        - {
            name: "Windows Latest x64", artifact: "Windows-x64.zip",
            os: windows-latest,
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Professional/VC/Auxiliary/Build/vcvars64.bat"
          }

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          
      - name: Install Qt
        uses: jurplel/install-qt-action@v3.0.0

      - name: build-msvc
        shell: cmake -P {0}
        run: |
        set(make_program "bin/jom")
        execute_process(
          COMMAND ${make_program}
        )
